@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
  --bg-color: rgb(249, 209, 175, 0.7);
  --primary-orange: #FF6D00;
  --secondary-orange: #FF9201;
  --thirth-orange: #FFAB41;
  --text-color: #F2EFEA;
  --title-color: #2C344B;
  --font-family-text: 'Varela Round', sans-serif;
  --font-family-title:'Lobster', cursive;
}

body{
    background-color: var(--bg-color);
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-family: var(--font-family-title);
    font-size: calc(1.2em + 1vw);
}
section h2{
    color: var(--title-color);
    text-align: center;
}

.header{
    background-color: var(--primary-orange);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .logo{
    float: left;
    font-size: calc(1.2em + 1vw);
    width: 70vw;
    padding-left: 10px;
    color: var(--text-color);
}
.header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--secondary-orange);
}
.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--title-color);
    font-family: var(--font-family-title);
    font-size: calc(0.9em + 1vw);
   text-align: right;
}

.header ul a:hover{
    background-color: var(--thirth-orange);
}

/**Hamburger Menù*/
.header .menu{
    clear: left;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon .nav-icon {
    background-color: var(--text-color);
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}
.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: var(--text-color);
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
    background-color: var(--text-color);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    position: absolute;
    
}
.header .menu-icon .nav-icon::before{
    top: 5px;
}
.header .menu-icon .nav-icon::after{
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 360px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before,
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
}
/**Fine Hamburger Menù*/
/**IMG background*/
.img-main{
   height: 100vh;
   width: 100%;
   position: relative;
}
.img-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-main  .shadow{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(335.7deg, rgba(51, 51, 51, 0.5) 4.45%, rgba(0, 0, 0, 0.5) 66.15%);
    box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.3);
}
/**/
/**About*/
#about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#about p{
    font-size: calc(0.7em + 0.8vw);
    font-weight: 600;
    width: 90vw;
}
/**Menù*/
#menu{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**Menù slide*/
#menu .menu-slide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .menu-slide .img-slider{
    width: 100%;
}
#menu .menu-slide .img-slider img{
    width: 100%;
    display: none;
}
#menu .menu-slide .img-slider img:nth-child(1){
    display: block;
}
#menu .menu-slide button{
    width: 30px;
    height: 30px;
    background: none;
    border: solid #eee 2px;
    border-radius: 50%;
    font-size: 25px;
    color: #eee;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**Fine menù slide*/
#menu .menu-slide .button{
    width: 30px;
    height: 30px;
    margin: 0 15px;
}
#menu .menu-slide .button:nth-child(1){
    fill:  gray;
}

/**Locate*/
#locate a{
    color: var(--text-color);
}
#locate .container{
    width: 95vw;
    height: 30vh;
    background: linear-gradient(110.85deg, #FF9201 45.73%, #f59a2b 100%);
    box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#locate .map{
    width: 60%;
    height: 90%;
    border-radius: 15px;
    margin: 0 10px
}
#locate p{
    font-size: calc(0.7em + 0.8vw);
    font-weight: 600;
    width: 90vw;
    color: var(--text-color);
}
/**Recensioni*/
#recensioni a{
    color: #34E0A1;
    text-decoration: none;
}
#recensioni p{
    font-size: calc(0.7em + 0.8vw);
    font-weight: 600;
    width: 70%;
    margin-left: 15px;
}
#recensioni img{
    float: right;
    width: 50px;
    position: relative;
    bottom: 10px;
    margin-right: 20px;
}
/**Contact*/
#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
#contact p{
    font-size: calc(0.7em + 0.8vw);
    font-weight: 600;
}
#contact span{
    color: #0183FB;
}
/**Footer*/
#footer{
    width: 100%;
    height: 50px;
    background-color: var(--primary-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: calc(0.7em + 0.6vw);
}
#footer a{
    color: var(--text-color);
    text-decoration: none;
}
#footer img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
#footer .ig{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer .fb{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/**/
section{
    margin: 30px 0;
}